<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>ALiChe - Books</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a> |
			<a href="/search">Search</a> |
			<a href="/list">List</a>
		</nav>
		<hr>
		{{{body}}}
	</body>
</html>
