nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;	
}

nav li {
  float: left;
}

nav li a {
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

nav li a:hover {
  background-color: gray
}

#course { color: red; font-size: 1.5em }
#sample { color: green }
.day { color: orange }
.night { color: blue }
h1, h2, h3, #course { font-family: sans-serif }

h1::before {
	content: '';
	padding-right: 48px;
	background-image: url(/public/books-128.png);
	background-size: contain;
	background-repeat: no-repeat;
}

h1 { margin-top: 8px }

h2, h3 { margin-top: 32px }

table.slist, table.slist th, table.slist td {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse
}

table.slist th {
	background-color: #a0a0a0
}

table.slist tr:nth-child(odd) {
	background-color: #dddddd
}

table#related th:nth-child(2) {
	text-align: left
}

table#related td:nth-child(1), table#related td:nth-child(3) {
	text-align: center
}
