<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>ALiChe - Books</title>
		<link rel='stylesheet' href='/public/style.css'>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/search">Search</a></li>
				<li><a href="/books">List</a></li>
			</ul>
		</nav>
		<hr>
			{{#if username}}
		<form action='/logout' method='POST'>
			<input type='submit' value='Logout'>
				Username: {{username}}
			</form>
			{{else}}
		<form action='/authenticate' method='GET'>
			<input type='submit' value='Login'>
			</form>
			{{/if}}
		<hr>
		{{{body}}}
	</body>
</html>
