<h1>Login</h1>
<form action="/login" method="POST">
	<label for="txtUsername">Username:</label>
	<input type="text" id="txtUsername" name="username">
	<br><br>
	<label for="txtPassword">Password:</label>
	<input type="password" id="txtPassword" name="password">
	<br><br>
	<input type="submit" value="Login">
</form>
